button {
  flex: 1;
  font-size: inherit;
  border: 1px solid lightgray;
}
button:active {
  background-color: antiquewhite;
}
button:focus, input:focus {
  outline: none;
  border: 1px solid deepskyblue;
}
button:hover {
  cursor: pointer;
}
input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid lightgrey;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#ROOT {
  display: flex;
  flex: 1;
  /* min-height: 100%; */
  flex-direction: column;
}
  #sort {
    display: flex;
    /* background-color: red; */
    flex: 1;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
  }

  #head {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 100%;
    min-height: 82px;
    position: fixed;
    background-color: floralwhite;
    /* color: white; */
    border-bottom: 1px solid lightgray;
  }
  #table {
    margin-top: 82px;
  }
  #table > div {
    display: flex;
    flex: 1;
    flex-direction: row;
    /* max-height: 42px; */
  }
  #table > div:nth-child(even) {
    background-color: cornsilk;
  }
    #cont_controls {
      display: flex;
      flex: 1;
      justify-content: center;
      padding: 3px;
    }
    #cont_controls > * {
      display: flex;
      flex: 1;
      padding: 3px;
      justify-content: center;
      font: 14px sans-serif;
    }
      #open_modal {
        flex: 1;
        font-size: inherit;
      }
      #filter_input {
        padding: 6px;
        flex: 1;
        font-size: inherit;
      }

    .code, .country {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      padding: 6px;
    }
    .country {
      justify-content: flex-start;
      border-left: 1px solid lightgrey;
    }


#MODAL {
  /* display: none; */
  background-color: #00000090;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .3s ease;
}
  #cont_dialog {
    display: flex;
    flex: 1;
    min-height: 100%;
    align-items: center;
    justify-content: center;
  }
    #cont_inputs {
      background-color: whitesmoke;
      display: flex;
      flex-direction: column;
      padding: 6px;
      border-radius: 3px;
      border: 1px solid lightskyblue;
    }
    #cont_inputs > * {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 6px;
    }
    #cont_inputs label {
      /* background-color: blue; */
      flex: 1;
    }
    #cont_inputs input {
      /* background-color: green; */
      flex: 2;
      padding: 6px;
      justify-self: flex-end;
      font-size: inherit;
      border-radius: 3px;
    }
    #cont_inputs button {
      flex: 1;
      padding: 8px;
    }
    #cont_inputs button:nth-of-type(1) {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right: none;
    }
    #cont_inputs button:nth-of-type(2) {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }



/* Utils */
.noscroll {
  overflow: hidden;
}

/* Auto Vue */
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}